
type {{termname}} struct {
	Config   *models.TermConfig
}

func (t *{{termname}}) Exec(s interface{}) {
	commands := utils.RdsSendStruct{}
	d := s.(*{{name}})
  {{exec}}

	if len(commands.Commands) > 0 {

		key := utils.GetKeyByObj(t.Config.Key, *d.req)
		key = utils.RDSPrefix + "_" + d.Tag + "_" + key
		commands.Key = key
		if snow.CheckNeedRotate(key,d.req.STime,t.Config.Snow[0]) {
			snow.NeedRotate(&snow.SnowSys{&utils.SnowKey{Key:key}, nil, d.Tag, "{{term}}", d.req.STime,t.Config.SpKey}, t.Config.Snow[0])
		}
		d.AddCommods(&commands)
	}
	d.WG.Done()
}
func (t *{{termname}}) SetConfig(c *models.TermConfig) {
	t.Config = c
}
