package tmp

import (
	"flysnow/models"
	"flysnow/utils"
)

var TermListMap map[string]*DATATERM
var termmap = map[string]Term{
  {{termmap}}
}
var termconfigstr = `{{termconfigstr}}`


func init() {
  {{init}}
	models.TermConfigMap = map[string]map[string]*models.TermConfig{}
	utils.JsonDecode([]byte(termconfigstr), &models.TermConfigMap)
	for name, terms := range models.TermConfigMap {
		models.TagList = append(models.TagList, name)
		for termname, config := range terms {
			termmap[name+termname].SetConfig(config)
		}
	}
	TermListMap = map[string]*DATATERM{
    {{termlistmap}}
  }
}
